input, textarea, select, button{
    outline: none;
}

button{
    padding: 5px 12px;
    border-radius: 3px;
    border: 1px solid;
}

input, textarea{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #C3CEED;
}
input:focus, textarea:focus{
    border-color: #708BD3;
}

button[type="submit"]{
    background: #3AC243;
    color: #ffffff;
    border-color: #02A60D;
}
button:focus{
    border-color: #007708;
}
button.cancel-button{
    background: #CFCFCD;
    color: #68696A;
    border-color: #B4B4B6;
}
button.cancel-button:focus{
    border-color: #68696A;
}

a{
    color: #295DE1;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.form{
}

.form > div{
    margin: 10px 0;
}

.form > div > div.control-container{
    display: inline-block;
    vertical-align: middle;
}

.form > div label, .form > div .left-wrapper{
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    color: #636364;
}

.form > div > div.validation-message{
    color: #DF0000;
    font-weight: bold;
}

.form input.validation-error, .form textarea.validation-error{
    border-color: #DF0000;
}

.form > div.checkbox > label{
    text-align: left;
    padding-left: 5px;
}

button{
    background-color: #3EA8A4;
    color: #fff;
    border: none;
}

.ui-control.radiobutton .control-container{
    display: inline-block;
    margin: 0 5px 0 0;
}

.fcg-ui.window {
    background: #ebebeb; 
    z-index: 2001; 
    position: fixed; 
    top: 40px; 
    left: 40px; 
    border-radius: 5px; 
}

.fcg-ui.window .window_header {
    padding: 10px 5px; 
    color: #fff; 
    height: 18px; 
    position: relative; 
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px; 
    font-size: 16px; 
    font-weight: 400; 
    background: #2B303F; 
    text-align: center; 
}

.fcg-ui.window .window_title {
    display: inline-block; 
    margin-right: 20px; 
    text-align: center; 
    white-space: nowrap; 
    overflow: hidden; 
    cursor: default;
}

.fcg-ui.window .window_close {
    position: absolute; 
    right: 0px; 
    top: 0px; 
    padding: 10px; 
    border-top-right-radius: 5px; 
    cursor: pointer; 
}

.fcg-ui.window .window_close:hover {
    color: #ddd; 
}

.fcg-ui.window .window_content {
    color: #666; 
    padding: 25px 20px; 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    overflow: auto; 
}
*{
    font-family: 'Muli';
}
html{
    font: 81.25% arial, helvetica, sans-serif;
    color: #373737;
}
body{
    background-color: #C9D4F5;
    margin: 0 20px 20px 20px;
}
#overlay {
    z-index: 2000;
    background: #3b3f35;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.8;
    display: none;
}

#loader{
    background-color: #FFF8D7;
    position: fixed;
    display: inline-block;
    top: 0px;
    left: 50%;
    margin-left: -10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#loader > div{
    padding: 6px;
}

#layout.default{
    text-align: center;
}

.content-box{
    border: 4px solid #A5C1D4;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    display: inline-block;
    text-align: left;
}

h3{
    color: #547D99;
}

#layout{
    min-width: 800px;
}
#initializing .text{
    margin: 100px 0 0 0;
    color: #6a94b0;
}
#logo{
    font-weight: bold;
    display: inline-block;
    margin: 10px 200px 20px 0;
}
#logo a{
    color: #6a94b0;
    font-size: 18px;
}
#logo a:hover{
    text-decoration: none;
}
#user-bar{
    display: inline-block;
    vertical-align: top;
}
#user-bar > img{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
}
#user-bar > span, #user-bar > a{
    display: inline-block;
    color: #A6823B;
    margin: 0 0 10px 0;
    padding: 5px 10px 5px 10px;
}
#user-bar > span{
    background-color: #FFF8D7;
    border-bottom-left-radius: 5px;
}
#user-bar > a{
    background-color: #FFF2B7;
    border-bottom-right-radius: 5px;
}
#footer{
    margin: 20px 0 0 0;
}
#footer a{
    color: #6a94b0;
}
.chart-component.area{
    position: relative;
}
.chart-component.area .chart, .chart-component.area .x-axis{
    position: relative;
    left: 40px;
}
.chart-component.area .x-axis{
    width: 700px;
}
.chart-component.area .y-axis{
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 40px;
}

.chart-component.area h3{
    text-align: center;
}
.create-form{
    min-width: 1000px;
}

.create-form .details{
    display: inline-block;
    width: 250px;
    border-right: 2px dashed #cccccc;
    height: 500px;
    margin: 0 30px 0 0;
}

.create-form input[type="text"]{
    width: 200px;
}
.create-form .form > div{
    margin: 0 0 20px 0;
}

.create-form .chart-container{
    display: inline-block;
    vertical-align: top;
    min-width: 600px;
}

.create-form .ui-control.radiobutton{
    margin: 10px 0;
}

.create-form .annotation{
    position: absolute;
}
.create-form .annotation > .dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #A5C1D4;
}
.donut_3d path.slice{
    stroke-width:2px;
}
.donut_3d polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}
.donut_3d svg text.percent{
    fill:white;
    text-anchor:middle;
    font-size:12px;
}
#login-form, #intro{
    margin-top: 50px;
}
#intro > div{
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
}
#login-form > div > label, #login-form > div > .left-wrapper{
    width: 120px;
}
#login-form > div > div.validation-message{
    padding-left: 130px;
}
#login-form .options a{
    text-decoration: none;
}
#login-form .helper{
    color: #888888;
}
#logout-box{
    margin-top: 50px;
}
#intro .source{
    margin-top: 70px;
}
#intro .source a{
    color: #898989;
}
#your-charts{
    min-width: 500px;
}
#add-new-chart{
    float: right;
}
#your-charts h3{
    font-size: 20px;
    margin: 0;
    display: inline-block;
}