<div>
    <div id="intro" class="content-box">
        <%= $w.image('icons/bar-chart-icon-big.png') %>
        <div>
            <h2>
                Fake Charts Generator
            </h2>
            <p>
                By: <a href="http://danielarandaochoa.com">Daniel Aranda</a>
            </p>
        </div>
    </div>
</div>
<div>
    <div id="login-form" class="content-box form">
        <p>
            Login with:
        </p>
        <hr />
        <div class="options">
            <a href="javascript:;" class="twitter">
                <%= $w.image('icons/twitter.png') %>
            </a>
            <a href="javascript:;" class="github">
                <%= $w.image('icons/github.png') %>
            </a>
            <a href="javascript:;" class="google">
                <%= $w.image('icons/google.png') %>
            </a>
            <a href="javascript:;" class="facebook">
                <%= $w.image('icons/facebook.png') %>
            </a>
        </div>
    </div>
</div>
