/*File: C:\Users\Daniel Aranda\Documents\vhosts\fake-charts-generator\workflow/../app/src/css/controls/form.css*/
input, textarea, select, button{
    outline: none;
}

button{
    padding: 5px 12px;
    border-radius: 3px;
    border: 1px solid;
}

input, textarea{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #C3CEED;
}
input:focus, textarea:focus{
    border-color: #708BD3;
}

button[type="submit"]{
    background: #3AC243;
    color: #ffffff;
    border-color: #02A60D;
}
button:focus{
    border-color: #007708;
}
button.cancel-button{
    background: #CFCFCD;
    color: #68696A;
    border-color: #B4B4B6;
}
button.cancel-button:focus{
    border-color: #68696A;
}

a{
    color: #295DE1;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.form{
}

.form > div{
    margin: 10px 0;
}

.form > div > div.control-container{
    display: inline-block;
    vertical-align: middle;
}

.form > div > label, .form > div > .left-wrapper{
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    color: #636364;
}

.form > div > div.validation-message{
    color: #DF0000;
    font-weight: bold;
}

.form input.validation-error, .form textarea.validation-error{
    border-color: #DF0000;
}

.form > div.checkbox > label{
    text-align: left;
    padding-left: 5px;
}

/*File: C:\Users\Daniel Aranda\Documents\vhosts\fake-charts-generator\workflow/../app/src/css/controls/popup.css*/
.fcg-ui.window {
    background: #ebebeb; 
    z-index: 2001; 
    position: fixed; 
    top: 40px; 
    left: 40px; 
    border-radius: 5px; 
}

.fcg-ui.window .window_header {
    padding: 10px 5px; 
    color: #fff; 
    height: 18px; 
    position: relative; 
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px; 
    font-size: 16px; 
    font-weight: 400; 
    background: #2B303F; 
    text-align: center; 
}

.fcg-ui.window .window_title {
    display: inline-block; 
    margin-right: 20px; 
    text-align: center; 
    white-space: nowrap; 
    overflow: hidden; 
    cursor: default;
}

.fcg-ui.window .window_close {
    position: absolute; 
    right: 0px; 
    top: 0px; 
    padding: 10px; 
    border-top-right-radius: 5px; 
    cursor: pointer; 
}

.fcg-ui.window .window_close:hover {
    color: #ddd; 
}

.fcg-ui.window .window_content {
    color: #666; 
    padding: 25px 20px; 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    overflow: auto; 
}

/*File: C:\Users\Daniel Aranda\Documents\vhosts\fake-charts-generator\workflow/../app/src/css/core.css*/
html{
    font: 81.25% arial, helvetica, sans-serif;
    color: #373737;
}
body{
    background-color: #BED3FF;
    margin: 0 20px 20px 20px;
}

#overlay {
    z-index: 2000;
    background: #3b3f35;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.8;
    display: none;
}

#loader{
    background-color: #F8F59C;
    position: fixed;
    display: inline-block;
    top: 0px;
    left: 50%;
    margin-left: -10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: none;
}
#loader > div{
    padding: 6px;
}

#layout.default{
    text-align: center;
}

.content-box{
    border: 3px solid #CEDEFF;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
    display: inline-block;
    text-align: left;
}


/*File: C:\Users\Daniel Aranda\Documents\vhosts\fake-charts-generator\workflow/../app/src/css/modules/login.css*/
#login-form{
    margin-top: 50px;
}
#login-form > div > label, #login-form > div > .left-wrapper{
    width: 120px;
}
#login-form > div > div.validation-message{
    padding-left: 130px;
}
#logout-box{
    margin-top: 50px;
}


