#login-form, #intro{
    margin-top: 50px;
}
#intro > div{
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
}
#login-form > div > label, #login-form > div > .left-wrapper{
    width: 120px;
}
#login-form > div > div.validation-message{
    padding-left: 130px;
}
#login-form .options a{
    text-decoration: none;
}
#logout-box{
    margin-top: 50px;
}
#intro .source{
    margin-top: 70px;
}
#intro .source a{
    color: #898989;
}